.isolation-mode-icon {
  position: absolute;
  top: 0;
  left: 985px;
  width: 455px;
  height: 511.56px;
  overflow: hidden;
}
.assignments-child {
  position: absolute;
  top: 27px;
  left: 26px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  cursor: pointer;
}
.assignments-item {
  position: absolute;
  top: 723px;
  left: -87px;
  border-radius: 50%;
  background-color: rgba(127, 154, 138, 0.7);
  width: 362px;
  height: 356px;
}
.objects-icon {
  position: absolute;
  top: 252px;
  left: 450px;
  width: 540px;
  height: 521px;
  overflow: hidden;
  opacity: 0.3;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-paleturquoise-200);
}
.unit-1 {
  position: absolute;
  height: 73.33%;
  width: 28.32%;
  top: 13.33%;
  left: 35.84%;
  line-height: 50px;
  display: inline-block;
}
.rectangle-parent {
  position: absolute;
  height: 5.86%;
  width: 19.38%;
  top: 34.86%;
  right: 61.25%;
  bottom: 59.28%;
  left: 19.38%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-paleturquoise-200);
  width: 279px;
  height: 60px;
}
.unit-11 {
  position: absolute;
  top: 8px;
  left: 100px;
  line-height: 50px;
  display: inline-block;
  width: 79px;
  height: 44px;
}
.group-div,
.rectangle-container,
.rectangle-group,
.rectangle-parent1,
.rectangle-parent2 {
  position: absolute;
  top: 227px;
  left: 282px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 60px;
}
.group-div,
.rectangle-container,
.rectangle-parent1,
.rectangle-parent2 {
  top: 487px;
  left: 279px;
}
.group-div,
.rectangle-parent1,
.rectangle-parent2 {
  top: 747px;
  left: 282px;
}
.rectangle-parent1,
.rectangle-parent2 {
  height: 5.86%;
  width: 19.38%;
  top: 60.25%;
  right: 61.25%;
  bottom: 33.89%;
  left: 19.38%;
}
.rectangle-parent2 {
  top: 34.86%;
  right: 20.69%;
  bottom: 59.28%;
  left: 59.93%;
}
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6 {
  position: absolute;
  top: 227px;
  left: 866px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 60px;
}
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6 {
  top: 487px;
  left: 863px;
}
.rectangle-parent5,
.rectangle-parent6 {
  top: 747px;
  left: 866px;
}
.rectangle-parent6 {
  height: 5.86%;
  width: 19.38%;
  top: 60.25%;
  right: 20.69%;
  bottom: 33.89%;
  left: 59.93%;
}
.assignment-submission,
.assignment-uploaded {
  position: absolute;
  height: 4.1%;
  width: 30.21%;
  top: 11.23%;
  left: 54.58%;
  font-size: var(--font-size-16xl);
  line-height: 50px;
  font-weight: 500;
  color: var(--color-darkslategray-400);
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.assignment-uploaded {
  top: 115px;
  left: 222px;
  width: 398px;
  height: 42px;
}
.assignments {
  position: relative;
  background-color: #ebfff3;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
